@model Sistema_de_Ticket.ViewModels.RoleEditVM

<div class="mb-3">
    <label asp-for="Name" class="form-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

<div class="row">
    @foreach (var p in Model.Permisos)
    {
        <div class="col-md-4">
            <div class="form-check">
                <input class="form-check-input" type="checkbox"
                       name="Permisos[@Model.Permisos.IndexOf(p)].Seleccionado"
                       value="true" @(p.Seleccionado ? "checked" : "") />
                <input type="hidden" name="Permisos[@Model.Permisos.IndexOf(p)].Seleccionado" value="false" />
                <input type="hidden" name="Permisos[@Model.Permisos.IndexOf(p)].Codigo" value="@p.Codigo" />
                <input type="hidden" name="Permisos[@Model.Permisos.IndexOf(p)].Titulo" value="@p.Titulo" />
                <label class="form-check-label">@p.Titulo</label>
            </div>
        </div>
    }
</div>
